[submodule "static/js/HexagonEngine"]
	path = static/js/HexagonEngine
	url = git@github.com:Minras/HexagonEngine.git
[submodule "static/twbs"]
	path = static/twbs
	url = git@github.com:twbs/bootstrap.git
