{% extends "layout.html" %}

{% block title %}Field{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/HexagonEngine/js/HexagonTools.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/HexagonEngine/js/Grid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        var currentHex = null,
            canvasField = document.getElementById('cBg'),
            ctxField = canvasField.getContext('2d'),
            canvasAct = document.getElementById('cAct'),
            ctxAct = canvasAct.getContext('2d');

        HT.Hexagon.Static.DEBUG = true;

        initGrids();
    	drawHexGrid('cBg');

        $("#cAct").on("click", function() {
            var p = new HT.Point(event.offsetX, event.offsetY);
            var h = gridActions.GetHexAt(p);

            // stop executing if the user clicked outside the hexes
            if (null == h) {
                console.log("Click: outside the hex grid");
                return;
            }

            // init currentHex with selected hex
            if (null == currentHex || currentHex.id != h.id) {
                currentHex = h;
            }

            // clear current actions canvas
            clearCanvas(ctxAct, canvasAct.width, canvasAct.height);

            // draw selected hex
            currentHex.selected = true;
            currentHex.draw(ctxAct);

            console.log(
                "Act: " +
                event.pageX + " " + event.pageY + "/" +
                event.offsetX + " " + event.offsetY + "/" +
                (event.pageX - event.offsetX) + " " + (event.pageY - event.offsetY)
            );
        });
    });
    </script>
{% endblock %}

{% block content %}
    <h1>Field</h1>
    <p class="lead">Here be field.</p>
    <div id="grid-container">
        <div>
            <canvas id="cBg" width="800" height="600" class="grid-field" />
        </div>
        <div>
            <canvas id="cAct" width="800" height="600" class="grid-actions" />
        </div>
    </div>
{% endblock %}