{% extends "layout.html" %}

{% block title %}Field{% endblock %}

{% block head %}
    {{ super() }}
    <style type="text/css">
        .example { color: #336699; }
        .box { border: 1px #FF0000 solid; }
    </style>
{% endblock %}

{% block javascript %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/HexagonEngine/js/HexagonTools.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/HexagonEngine/js/Grid.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
    <script type="text/javascript">
    $(document).ready(function() {
        HT.Hexagon.Static.DEBUG = true;
        initGrids();
    	drawHexGrid('cBg');
        var currentHex = null;
        $("#cBg").on("click", function() {
            var p = new HT.Point(event.offsetX, event.offsetY);
            var h = grid.GetHexAt(p);
            var i = 0;

            console.log(
                "Bg: " +
                event.pageX + " " + event.pageY + "/" +
                event.offsetX + " " + event.offsetY + "/" +
                (event.pageX - event.offsetX) + " " + (event.pageY - event.offsetY)
            );
        });

        $("#cAct").on("click", function() {
            var p = new HT.Point(event.offsetX, event.offsetY);
            var h = grid.GetHexAt(p);
            var i = 0;

            console.log(
                "Act: " +
                event.pageX + " " + event.pageY + "/" +
                event.offsetX + " " + event.offsetY + "/" +
                (event.pageX - event.offsetX) + " " + (event.pageY - event.offsetY)
            );
        });
    });
    </script>
{% endblock %}

{% block content %}
    <h1>Field</h1>
    <p class="lead">Here be field.</p>
    <div id="grid-container">
        <div>
            <canvas id="cBg" width="800" height="600" class="grid-field" />
        </div>
        <div>
            <canvas id="cAct" width="800" height="600" class="grid-actions" />
        </div>
    </div>
{% endblock %}